<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:replace="~{./include/baseLayout :: setContent(~{:: .wrap})}">

        <div class="wrap">
            <div class="warp_inner">
                <!-- left_menu end -->
                <div class="right_content">
                    <div class="midiaq">
                        <div class="page_title">상품 관리 > <span class="page_subtitle">상품 상세/수정</span></div>
                        <form name="actionForm" action="####" method="post">
                            <div class="full_collum collum">
                                <ul>
                                    <li class="collum_tit">
                                        <h2>상품 상세/수정</h2>
                                        <a href="#">버튼01</a>
                                        <a href="#">버튼02</a>
                                        <span class="showtoggle minus"></span>
                                        <ul>
                                            <li>
                                                <table class="board_basic_view">
                                                    <tbody>
                                                        <tr>
                                                            <th>
                                                                상품번호
                                                            </th>
                                                            <td>
                                                                <input type="hidden" name="prodId" th:value="${vo.prodId}">
                                                                [[${vo.prodId}]]
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                판매종료일
                                                            </th>
                                                            <td>
                                                                <input type="text" class="datepicker" name="prodEnddate" th:value="${vo.prodEnddate}"
                                                                       placeholder="날짜선택">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>카테고리</th>

                                                            <td colspan="5">
                                                                <div>
                                                                    수정이 불가능한 옵션입니다(상품관리자에게 문의하세요)
                                                                </div>
                                                                [[${vo.prodCategory}]]
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>등록자ID</th>
                                                            <td>
                                                                <input type="text" name="prodWriter" th:value="${vo.prodWriter}" readonly />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">제목(상품명)</th>
                                                            <td>
                                                                <input class="inputw99p margin_center" type="text" name="prodName" th:value="${vo.prodName}">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>메인사진</th>
                                                            <td colspan="3">
                                                                <!--미리보기 폼-->
                                                                <div class="blockContent">
                                                                    <div class="productText">이미지 수정은 목록을 이용해주세요</div>
                                                                    <div class="productImg">
                                                                        <div class="imgItem">
                                                                            <span class="imgKind">대표이미지</span>
                                                                            <div class="imgWrap">
                                                                                <div class="imgArea">
                                                                                    <img src="../img/item_main.jpg">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="imgItem">
                                                                            <span class="imgKind">배너이미지</span>
                                                                            <div class="imgWrap">
                                                                                <div class="imgArea">
                                                                                    <img src="../img/item_banner.jpg">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="imgItem">
                                                                            <span class="imgKind">배너이미지</span>
                                                                            <div class="imgWrap">
                                                                                <div class="imgArea">
                                                                                    <img src="../img/item_banner.jpg">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="imgItem">
                                                                            <span class="imgKind">배너이미지</span>
                                                                            <div class="imgWrap">
                                                                                <div class="imgArea">
                                                                                    <img src="../img/item_banner.jpg">
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>판매가</th>
                                                            <td colspan="3"><input type="text" class="inputw150" name="prodPrice"
                                                                    th:value="${vo.prodPrice}" placeholder="3000">원</td>
                                                        </tr>
                                                        <tr>
                                                            <th>판매수량</th>
                                                            <td colspan="3"><input type="text" class="inputw150" name="prodCount"
                                                                    th:value="${vo.prodCount}" placeholder="숫자로 입력">개</td>
                                                        </tr>
                                                        <tr>
                                                            <th>할인율</th>
                                                            <td colspan="3">
                                                                <input type="text" class="inputw150" name="prodDiscount" th:value="${vo.prodDiscount}" placeholder="15(숫자로 입력)">%
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>상품 구매 제한</th>
                                                            <td colspan="3">
                                                                <div class="uInputRadioBox">
                                                                    <div class="uInputRadio">
                                                                        <label>
                                                                            <input type="radio" name="prodPurchaseYn" value="N" th:checked="${vo.prodPurchaseYn == 'N'}">
                                                                            <span class="text">제한안함</span>
                                                                        </label>
                                                                    </div>
                                                                    <div class="uInputRadio">
                                                                        <label>
                                                                            <input type="radio" name="prodPurchaseYn" value="Y" th:checked="${vo.prodPurchaseYn == 'Y'}">
                                                                            <span class="text">1회 제한</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>


                                                        <tr>
                                                            <th>설명</th>
                                                            <td colspan="5">
                                                                <div>
                                                                    <textarea class="inputw99p" name="prodContent" style="height: 200px;">[[${vo.prodContent}]]
                                                                    </textarea>
                                                                </div>
                                                            </td>
                                                        </tr>


                                                        <tr>
                                                            <th>커맨트 내용</th>
                                                            <td colspan="5">
                                                                <div>
                                                                    <textarea class="inputw99p" name="prodComment" style="height: 200px;">[[${vo.prodComment}]]
                                                                    </textarea>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>

                                                <div class="btn_area">
                                                    <a href="#" class="save" id="save">저장</a>
                                                    <a href="productList" class="revise">목록</a>
                                                    <a href="#" class="delete" id="delete">삭제</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- right_content end -->
            </div>
            <div class="dim_layer">
            </div>
        </div>

    </th:block>

    <script>
        let saveBtn = document.getElementById("save");
        saveBtn.addEventListener("click", function() {
            event.preventDefault();
            document.actionForm.action = "productUpdate"; // form의 액션 값 수정
            document.actionForm.submit(); // 폼전송
        });

        // 삭제기능
        let deleteBtn = document.getElementById("delete");
        deleteBtn.addEventListener("click", function () {
            event.preventDefault();
            document.actionForm.action = "productDelete";
            document.actionForm.submit();
        })
    </script>
</html>