<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.basic.chap04.BookMapper">

    <!-- 한 행을 처리할 vo객체의 풀 경로를 적어주면 됨. -->
    <select id="list" resultType="BookVO">
        SELECT * FROM BOOK ORDER BY ID DESC
    </select>

    <!--
        parameterType에는 전달되는 파라미터의 경로를 적으면 됨. (생략 가능)
        파라미터가 있다면 VALUES에 #{게터이름} 을 적어줍니다.
    -->
    <insert id="bookRegist" parameterType="BookVO">
        INSERT INTO BOOK(ID, TITLE, AUTHOR) VALUES (BOOK_SEQ.NEXTVAL, #{title}, #{author})
    </insert>

    <!--
        파라미터 객체가 아니라 단일 값이면, 인터페이스와 매개변수 명을 쓰면 됨.
        ** 마이바티스 피라미터 개수 보면 기본 1개 밖에 받지못함
        ** 만약 매개변수가 2개라면 @Param으로 매개변수 명을 지적해야함.
    -->
    <delete id="bookDelete" parameterType="long">
        DELETE FROM BOOK WHERE ID = #{id}
    </delete>
</mapper>