<!DOCTYPE HTML>
<html>

<head>
    <title>연습용</title>

    <meta charset="UTF-8" />
    <meta charset="EUC-KR" />

    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/footer.css" />
	<link rel="stylesheet" type="text/css" href="../css/loading.css" />
    <link rel="stylesheet" type="text/css" href="../css/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="../js/jquery-1.12.1.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/style.js"></script>
    
</head>

<body>
    <header class="wrap">
        <div class="header">
            <h3 style="color: #fff; position: absolute; left: 20px; top: 27px;">coding404 - 연습용 입니다. 이에 대한 무단 복제 및 배포를
                원칙적으로 금합니다.
                원본파일 및 핸드폰 촬영, 동영상강좌 녹화를 통한 무단 복제 · 배포하는 경우 저작권법 제136조에 의한 저작재산권 침해 죄에 해당될 수 있으니 각별한 주의 바랍니다.</h3>
            <span class="admin_id"><b style="color:#7866c9;">관리자</b>홍길동 님</span>
        </div>

    </header>
    <!-- 좌측 사이드바 -->
    <aside>
        <span class="menuBtn">버튼</span>
        <ul class="sidenav">
            <li class="sub_menu_toggle">
                <a href="#">- 상품관리(예제)</a>
                <ul class="sub_menu ">
                    <li><a href="#">-상품등록</a></li>
                    <li><a href="#">-상품조회 / 수정</a></li>
                    <li><a href="#">-하단메뉴</a></li>
                </ul>
            </li>
            <li class="sub_menu_toggle">
                <a href="#">- 게시글 연습(초급)</a>
                <ul class="sub_menu">
                    <li><a href="#">-전체 글목록</a></li>
                    <li><a href="#">-글 등록</a></li>
                    <li><a href="#">-내글 목록</a></li>
                </ul>
            </li>
            <li class="sub_menu_toggle">
                <a href="#">- 판매자 공지관리(중급)</a>
                <ul class="sub_menu">
                    <li><a href="#">-판매자공지목록</a></li>
                    <li><a href="#">-판매자공지등록</a></li>
                    <li><a href="#">-판매자공지보기</a></li>
                </ul>
            </li>
            <li class="sub_menu_toggle">
                <a href="#">- 예시메뉴</a>
                <ul class="sub_menu">
                    <li><a href="#">-예시메뉴</a></li>
					<li><a href="#">-예시메뉴</a></li>
					<li><a href="#">-예시메뉴</a></li>
                </ul>
            </li>
        </ul>
    </aside>
        
    <div class="wrap">
        <div class="warp_inner">
            <!-- left_menu end -->
            <div class="right_content">
                <div class="midiaq">
                    <div class="mainWrapper"> 
						<div class="ipssGiudeBlock" style="color:red; font-size: large;">
							-요구사항<br>
							-판매자는 등록한 상품에 대해 공지를 수정, 삭제할 수 있다.<br>
							-해당 글에 해당하는 정보를 미리보여주도록 처리한다. <br>
                            <br>
                            
						</div>
					</div>
                    <div class="page_title">판매자 공지관리 > <span class="page_subtitle">공지수정/삭제</span></div>
                    <form name="#####" action="#####" method="post">
                        <div class="full_collum collum">
                            <ul>
                                <li class="collum_tit">
                                    <h2>게시글관리</h2>

                                    <span class="showtoggle minus"></span>
                                    <ul>
                                        <li>
                                            <table cellpadding="0" cellspacing="0" class="board_basic_view"
                                                width="100%;">
                                                <tr>
                                                    <th>표시여부</th>
                                                    <td colspan="3">
                                                        <div style="color:red">공지로 등록하면 판매자 공지사항으로 즉시 나타납니다</div>
                                                        <div class="uInputRadioBox">
                                                            <div class="uInputRadio">
                                                                <label>
                                                                    <input type="radio" name="prod_purchase_yn" value="N" checked="checked">
                                                                    <span class="text">공지로 등록함</span>
                                                                </label>
                                                            </div>
                                                            <div class="uInputRadio">
                                                                <label>
                                                                    <input type="radio" name="prod_purchase_yn" value="Y" >
                                                                    <span class="text">등록하지않음</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>닉네임</th>
                                                    <td><input type="text" class="inputw150" name="####"></td>
                                                </tr>

                                                <tr>
                                                    <th>상품명</th>
                                                    <td>
                                                        비타육백
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>제목</th>
                                                    <td colspan="5"><input type="text" class="inputw99p" name="####"></td>
                                                </tr>


                                                
                                                <tr>
                                                    <th>내용</th>
                                                    <td colspan="5">
                                                        <div><textarea  class="inputw99p" name="prod_content" style="height: 200px;"></textarea>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr> 
                                                    <th>배너사진</th>
                                                    <td colspan="3">
                                                    <div class="filebox preview-image">
                                                        <div class="left">
                                                            <span>첨부이미지</span>
                                                            <label class="upload-display" for="a_file">
                                                                <span class="upload-thumb-wrap">
                                                                    <img class="upload-thumb" src="../img/item_main.jpg">
                                                                </span>
                                                            </label>
                                                            <input class="upload-name" value="파일선택" disabled="disabled">
                                                            <input type="file" name="file" id="a_file" class="upload-hidden">
                                                        </div>
                                                    </div>
                                                    
                                                    </td>
                                                </tr>

                                            </table>
                                            <div class="btn_area">
                                                <!-- 
                                                <input type="submit" class="save" value="등록">
                                            	<input type="button" class="delete" value="목록">
                                                 -->
                                                <a href="#" class="save">수정</a>
                                                <a href="#" class="delete">목록</a>
                                                <a href="#" class="revise mglr13">삭제</a> 
                                                
                                            </div>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
            <!-- right_content end -->
        </div>
        <div class="dim_layer">
        </div>
    </div>
    <!-- wrap end -->
    <footer id="footer">
        <div class="footer_wrap">
            <div class="footer_top">
                <!-- 상위 -->
                <ul class="fl_right">
                    <li><a href="#"><span>Coding404 둘러보기</span></a></li>
                    <li><a href="#"><span>상품등록</span></a></li>
                    <li><a href="#"><span>상품관리</span></a></li>
                    <li><a href="#"><span>상품수정</span></a></li>
                    <li><a href="#"><span>회원</span></a></li>
                    <li><a href="#"><span>고객센터</span></a></li>
                </ul>
            </div>
        </div>

        <div class="footer_wrap2">
            <div class="footer_bot">
                <!-- 하위 -->

                <ul class="fl_left">
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">위치기반서비스 이용약관</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">청소년보호정책</a></li>
                    <li><a href="#">제휴/프로모션문의</a></li>
                    <li><a href="#">이메일주소무단수집거부</a></li>
                    <li><a href="#">파트너센터</a></li>
                </ul>
                <p>
                    <strong>(주)Coding404</strong>
                    <span>(주소는 비밀)</span>
                    <span>대표이사 : Coding404(PARK)</span>
                    <span>사업자등록번호 : 비밀</span>
                    <span>통신판매업신고번호 : 2018-성남분당B-0004</span>
                    <span>사업자정보확인</span>
                    <br />
                    <span>문의전화 : 비밀 (평일 09:00-18:00, 유료)</span>
                    <span>이메일 : yopy0817@gmail.com</span>
                    <span>호스팅서비스사업자 : (주)AWS</span>
                    <span>© Coding404 Entertainment Corp.</span>
                </p>

            </div>
        </div>

    </footer>

</body>

</html>