<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h3>데이터를 자바스크립트로 받기 th:inline</h3>

    <script th:inline="javascript">

        // th:inline은 자바의 object를 js의 object로 변경해준다.
        let name = `[[${name}]]`;
        let arr = `[[${arr}]]`

        console.log(name);
        console.log(arr);

        let result = JSON.parse(arr);
        console.log(result);
    </script>

    <h3>타임리프의 유틸리티 문법 (다양한 자바함수를 활용할 수 있는 구문을 제공)</h3>

    <p style="margin: 0">[[${regdate}]]</p>
    <br>
    <p style="margin: 0">[[${#temporals.format(regdate, 'yyyy년 MM월 dd일 HH시 mm분 ss초')}]]</p>


</body>
</html>