<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coding404.myweb.product.ProductMapper">
    <insert id="prodRegist" parameterType="ProductVO">
        INSERT INTO PRODUCT(PROD_ENDDATE,
                            PROD_WRITER,
                            PROD_NAME,
                            PROD_PRICE,
                            PROD_COUNT,
                            PROD_DISCOUNT,
                            PROD_PURCHASE_YN,
                            PROD_CONTENT,
                            PROD_COMMENT)
        VALUES (#{prodEnddate},
                #{prodWriter},
                #{prodName},
                #{prodPrice},
                #{prodCount},
                #{prodDiscount},
                #{prodPurchaseYn},
                #{prodContent},
                #{prodComment})
    </insert>
</mapper>

